.beasts {
  border: 1px solid gray;
  padding: 1vw;
  margin-bottom: 1vw;
  width: 19%;
  background-color: aquamarine;
  border-radius: 15px;
}

.beasts h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  color: rgb(197, 0, 0);
  border: 1px solid gray;
  background-color: white;
  border-radius: 6px;
}

/*.beasts h2:hover {
  cursor: pointer;
  background-color:rgb(187, 96, 96);
  color: white;

}*/

.beasts h3 {
  font-size: 15px;
  text-align: center;
  border: 1px solid gray;
  background-color: white;
  border-radius: 6px;
}

.beasts img {
  width: 100%;
  border-radius: 10px;
}

.beasts img:hover {
  cursor: pointer;
  border: 2px solid rgb(255, 0, 0);
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.beasts h4 {
  margin-top: 30px;
  font-size: 15px;
  text-align: center;
  border: 1px solid gray;
  background-color: white;
  border-radius: 6px;
}

.beasts p {
  font-size: 11px;
  margin: auto;
  display: inline-block;
  margin-bottom: .5rem;
}

.clickme {
  font-size: 10px;
  font-weight: bold;
  border-radius: 10px;
  background-color:rgb(55, 94, 60);
  border: 1px solid red;
  margin-bottom: 10px;
}

.clickme:hover {
  color: yellow;
  cursor: pointer;
  background-color:rgb(180, 36, 65);
  /*border: 3px solid yellow;*/
}
