.beasts {
  border: 1px solid gray;
  padding: 1vw;
  margin-bottom: 1vw;
  width: 19%;
  background-color: aquamarine;
  border-radius: 15px;
}

.beasts h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  color: rgb(197, 0, 0);
  border: 1px solid gray;
  background-color:white;
  border-radius: 6px;
}

/*.beasts h2:hover {
  cursor: pointer;
}*/

.beasts h3 {
  font-size: 15px;
  text-align: center;
  border: 1px solid gray;
  background-color: white;
  border-radius: 6px;
}

.beasts img {
  width: 100%;
  border-radius: 10px;
}

.beasts img:hover {
  cursor: pointer;
  border: 2px solid red;
}

.beasts p {
  font-size: 11px;
  margin: auto;
  display: inline-block;
  margin-bottom: .5rem;
}

.clickme {
  font-weight: bold;
}

.clickme:hover {
  color: red;
  cursor: pointer;
}
